[alias]
	co = checkout
	br = branch
	c = commit
	s = status
	a = add
	st = stash
[user]
	name = Arvind Raghavan
	email = raghavan.arvind@gmail.com
[diff]
	tool = vimdiffwrite
[difftool]
	prompt = false
[difftool "vimdiffwrite"]
    cmd = "vimdiff $LOCAL $REMOTE"
[pull]
	ff = only
